/* General Styling */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 50px;
    background-color: #f4f4f4;
}

.container {
    width: 50%;
    margin: auto;
    padding: 20px;
    background: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
}

h1 {
    font-size: 20px;
    color: hsl(216, 68%, 45%);
    margin-bottom: 20px;
    margin-top: 20px;
}

.form-section {
    margin: 40px 0;
    padding: 15px;
    background: #ffffff;
    border-radius: 5px;
    text-align: calc();
    
}

.form-section h2 {
    margin: 0;
    font-size: 20px;
    color: #444;
}

button {
    background-color: blue;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    font-size: 16px;
    transition: background 0.3s;
}

button:hover {
    background-color: darkblue;
}
.form-list {
    list-style-type: none; 
    padding: 0;
}

.form-list li {
    background: #e8e8e8;
    margin: 10px 0;
    padding: 15px;
    border-radius: 5px;
    font-size: 18px;
    color: #444;
}

